{%include 'oj-header.html'%}
<title>Welcome To Online Judge</title>
<!-- Course Info begin -->
<div id = "data">
	<div class="header">C语言程序设计</div> 
	<div style="font-size:8pt">Aug 8, 2012</div> 
	<div style="padding-left: 30px">
	<p>
		Welcome to CS103, an exciting and fast-paced introduction to discrete mathematics,
		computability theory, and complexity theory! We have an great quarter ahead of us 
		filled with interesting and exciting results in the power and limits of computation,
		and I hope that you're able to join us.In the meantime, feel free to check out the
		course information handout to learn more about what this class is all about, the 
		prerequisites, and the course policies. If you have any questions in the meantime,
		feel free to email me at htiek@cs.stanford.edu with questions.
	</p>
	</div>
	<div style="text-align:right;padding-right:20px"><a href="#">更多</a></div>
</div>

<div id = "data">
	<div class="header">算法与数据结构实验课程</div> 
	<div style="font-size:8pt">Aug 8, 2012</div> 
	<div style="padding-left: 30px">
		<p>
		There are a total of five homework assignments. Homework assignments 
		will be available on this website each Wednesday, and are due by the 
		start of class at 2:15PM on the following Friday. Exceptions: No 
		homework is due the week of the midterm or the last week of classes.
		</p>
	</div>
	<div style="text-align:right;padding-right:20px"><a href="#">更多</a></div>
</div>
