{%include 'oj-header.html'%}
{%autoescape off%}
<title>Problem&nbsp;{{p.pid}}</title>
<center><h2>{{p.pid}}&nbsp;{{p.title}}</h2>
	<span style='font-weight:bold'>Time Limit:&nbsp;{{p.time_limit}}Sec</span>&nbsp;&nbsp;
	<span style='font-weight:bold'>Memory Limit: {{p.memory_limit}}MB</span>&nbsp;&nbsp;
	{%if p.spj%}
	<span class=red style='font-weight:bold'>Special Judge</span>
	{%endif%}
	<br><span style='font-weight:bold'>Submit: {{p.submit}}</span>&nbsp;&nbsp;
	<span style='font-weight:bold'>Solved: {{p.solved}}</span><br> 

</center>

<h2>Description</h2><div class=content>{{p.description}}</div>
<h2>Input</h2><div class=content>{{p.input}}</div>
<h2>Output</h2><div class=content>{{p.output}}</div>
<h2>Sample Input</h2>
	<div><pre>{{p.sample_input}}</pre></div>
<h2>Sample Output</h2>
	<div><pre>{{p.sample_output}}</pre></div>
<h2>Hint</h2>
<div class=content><p>{{p.hint|linebreaks}}</p></div>
<h2>{{Source}}</h2>
<div class=content><p><a href='/JudgeOnline/problemset/?search={{p.source}}'>{{p.source|linebreaks}}</a></p></div>
<center>
	<br><br><br>
	<a href='/JudgeOnline/submit/{{p.problem_id}}/' class='btn btn-primary'>Submit</a>&nbsp;
	<a href='/JudgeOnline/problemstatus/{{p.problem_id}}' class='btn btn-primary'>Status</a>&nbsp;
	<a href='/JudgeOnline/bbs/?pid={{p.problem_id}}' class='btn btn-primary'>Discuss</a>
</center>
{%endautoescape%}
